@font-face {
    font-family: "Another Danger";
    src: url("../../public/fonts/Another Danger.otf") format("opentype")
}


@font-face {
    font-family: "Night Stalker";
    src: url("../../public/fonts/Night Stalker Free.ttf") format("truetype")
}


.header {
    position: fixed;
    width: 100%;
    transition: top 0.3s;
}


.brand {
    font-family: Another Danger, sans-serif;
    font-size: 40px;
    color: maroon;
}

.brand:hover {
    color: maroon;
    cursor: pointer;
}