
.header {
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    z-index: 10;
    background-color: rgba(9, 9, 9, 0.1); /* Adjust the last value (0.7) to change opacity */
}


.brand {
    font-family: Another Danger, sans-serif;
    font-size: 40px;
    color: maroon;
}


.nav-link {
    font-family: Scream Again, sans-serif;
    font-size: 10px;
    color:  rgba(255, 255, 255, 0.7);
}


.nav-link:hover {
    color:  rgba(255, 255, 255, 0.9);
}


.brand:hover {
    color: maroon;
    cursor: pointer;
}

